transformarjosnejercicio6/src/main/mule/transformarjosnejercicio6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="88ed012a-5e6a-4fd5-8fe2-6ec958d91f41" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="transformarjosnejercicio6Flow" doc:id="e4d23705-1f4f-4a4d-bfd5-dccca03b1cee" >
		<http:listener doc:name="Listener" doc:id="9359ce3d-e1e3-4d12-a33d-b12d68cfbd1d" config-ref="HTTP_Listener_config" path="/ejercicio6"/>
		<ee:transform doc:name="Transform Message" doc:id="492a423c-e926-4f97-b695-50f6c733b1d6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	fullName: payload.nombre ++ " " ++ payload.apellido
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
